.main_container {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.video_container {
    height: 100vh;
    width: 100vw;
    /* position: absolute;
    left: 55px; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

video {
    height: 100%;
    width: 100%;
}

.button_container {
    position: fixed;
    right: 4vw;
    z-index: 5;
    top: 37vh;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.record-button {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: rgb(241, 241, 158);
    color: blueviolet;
    font-weight: bold;
    font-size: 1rem;
}

.capture_button {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: rgb(241, 241, 158);
    color: blueviolet;
    font-weight: bold;
    font-size: 1rem;
}