        * {
            box-sizing: border-box;
        }
        
        body {
            background-color: #ecf0f1;
            overflow-x: hidden;
            margin: 0;
        }
        
        .hide {
            display: none;
        }
        
        .show {
            display: block;
            /* z-index: 4; */
        }
        
        .header {
            background-color: rgb(90, 90, 5);
            height: 3rem;
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .toolbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 80%;
            /* border: 3px solid blueviolet; */
            width: 50%;
            position: relative;
            left: 11rem;
            /* position: absolute; */
        }
        
        .filter_container {
            display: flex;
            height: 80%;
            width: 30%;
            /* border: 2px solid green; */
            margin: 1px 0px 1px 1px;
            background-color: rgb(155, 155, 7);
        }
        
        .filter_colorbox {
            height: 70%;
            width: 70%;
            border: 2px solid rgb(75, 46, 46);
            border-radius: 5px;
        }
        
        .filter {
            display: flex;
            height: 100%;
            width: 25%;
            justify-content: center;
            margin-inline-start: 5px;
            align-items: center;
            /* background-color: rgb(155, 155, 7); */
            /* border: 2px solid rgb(187, 77, 77); */
        }
        
        .color1 {
            background-color: aqua;
            /* border: 2px solid black; */
        }
        
        .color2 {
            background-color: rgb(23, 228, 101);
        }
        
        .color3 {
            background-color: rgb(218, 114, 18);
        }
        
        .color4 {
            background-color: rgb(196, 31, 168);
        }
        
        .white {
            background-color: white;
        }
        
        .action-container {
            /* border: 2px solid blue; */
            background-color: rgb(155, 155, 7);
            width: 20%;
            height: 80%;
            display: flex;
            position: relative;
            color: rgb(245, 206, 206);
            left: 5rem;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
        }
        
        .icon-container {
            width: 50%;
            /* border: 1px solid red; */
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /* icons -> text */
        
        .fas {
            font-size: 1.5rem;
        }
        
        .active {
            background-color: #5a7009;
        }
        
        .info_container {
            width: 25%;
            height: 80%;
            border: 2px solid black;
            position: relative;
            right: 2vw;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        
        .clear {
            width: 30%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        
        .clearAll {
            color: wheat;
        }
        
        .icon {
            color: wheat;
            font-size: 1rem;
            padding: 2px;
            margin: 5px;
        }
        
        .icon:hover {
            color: rgb(240, 206, 144)
        }
        
        .icon:active {
            color: rgb(240, 206, 144);
            box-shadow: 0 3px rgb(90, 95, 69);
            transform: translateY(2px);
        }
        
        .info {
            font-size: 1.5rem;
            color: whitesmoke;
            /* width: 20%;
            height: 80%;
            border: 2px solid black;
            position: relative;
            right: 2vw; */
        }
        
        .newtaskbox {
            box-shadow: 4px;
            display: flex;
            flex-direction: row;
            height: 65%;
            width: 45%;
            /* border: 2px solid red; */
        }
        
        .colour_select_panel {
            background-color: rgb(4, 59, 41);
            display: flex;
            flex-direction: column;
            width: 30%;
            height: 100%;
            /* border: 2px solid green; */
        }
        
        .colour_option {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 25%;
            width: 100%;
            /* border: 2px solid black; */
        }
        
        .colour_select {
            height: 80%;
            width: 70%;
            border-radius: 5px;
            /* border: 2px solid black; */
        }
        
        .task_message_panel {
            height: 100%;
            width: 70%;
            /* border: 2px solid yellow; */
            background: white;
        }
        
        .text_area {
            height: 80%;
            font-size: 1.7rem;
            cursor: pointer;
            width: 100%;
            border: none;
            text-align: center;
            padding: 15px;
        }
        
        .enterButton {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10%;
            background-color: rgb(241, 241, 173);
            border-radius: 45%;
            width: 80%;
            font-size: 1.5rem;
            /* border: 2px solid red; */
            height: 15%;
        }
        
        .enterButton:hover {
            background-color: rgb(217, 238, 27)
        }
        
        .enterButton:active {
            background-color: rgb(240, 206, 144);
            box-shadow: 0 3px rgb(90, 95, 69);
            transform: translateY(2px);
        }
        
        .selected_border {
            border: 2px solid white;
        }
        
        .main-container {
            height: 80vh;
            box-shadow: 4px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
        }
        /* .modal_container {
            height: 18rem;
            width: 36rem;
            background-color: brown;
            display: flex;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.698);
        } */
        
        .modal_container {
            left: 23vw;
            top: 30vh;
            position: absolute;
            background-color: bisque;
            height: 55vh;
            padding: 2rem;
            padding-left: 3rem;
            border: 2px dashed red;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            flex-wrap: wrap;
            z-index: 1;
        }
        
        .main_container {
            height: 88vh;
            padding-top: 2rem;
            padding-left: 3rem;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        
        .task_filter {
            height: 7%;
        }
        
        .task_container {
            margin: 3px;
            height: 10rem;
            width: 16rem;
            background-color: #fff;
        }
        
        .task_desc_container {
            height: 80%;
            padding-left: 0.5rem;
        }
        
        .task_desc {
            height: 70%;
            overflow: auto;
            text-align: center;
            /* words */
            word-break: break-all;
        }
        
        .uid {
            color: #444;
            margin-bottom: 0.1rem;
            ;
        }